#name {
    padding: 10px;
    background-color: cadetblue;
    color: white;
}

.jumbotron{
    padding: 2rem;
    margin-top: 2rem;
    background-color: white;
}



h1{
    color: cadetblue;
    padding-top: 0%;
}

#gate{
    padding-right: 2rem;
    float: left;
    height: 200px;
    width: 320px;
}

body {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-White-Pattern-Background-Image.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.btn-primary{
    background-color: cadetblue;
    border-color: white;
}

.row{
    padding: 2rem 2rem;
}

p{
    padding: 0%;
}

.port{
    height: 200px;
    width: 50px;
}

#no-pad {
    padding: 0px ;
}

p.wrap{
    word-wrap: break-word;
}

@media screen and (max-width: 993px){
    #gate{
        padding-bottom: 1rem;
        padding-right: 0px;
        height: none;
        width: none;
        float: none;
    }
}